In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor

In [4]:
df_train = pd.read_csv('train2.csv')
df_train.shape

(7176, 5)

In [5]:
df_train.head()

     # T      V       AP     RH      EP
0   8.58  38.38  1021.03  84.37  482.26
1  21.79  58.20  1017.21  66.74  446.94
2  16.64  48.92  1011.55  78.76  452.56
3  31.38  71.32  1009.17  60.42  433.44
4   9.20  40.03  1017.05  92.46  480.38

In [6]:
x_train = df_train.iloc[:, :4]
y_train = df_train.iloc[:, 4]

In [7]:
x_train.shape, y_train.shape

((7176, 4), (7176,))

In [15]:
data = np.genfromtxt('test2.csv', delimiter=',')
x_test = pd.DataFrame(data)
x_test.head()
x_test.shape

(2392, 4)

In [12]:
model = GradientBoostingRegressor()

In [13]:
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
y_pred

array([470.56174391, 472.66297342, 435.27765416, ..., 438.71921598,
       452.8264231 , 445.09956345])

In [14]:
np.savetxt('Combined Cycle.csv', y_pred)